/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-icons-add {
  background-image: url(../icons-sprites/sprites.png);
  background-position: 0px 0px;
  width: 16px;
  height: 16px;
}
.sprite-icons-application {
  background-image: url(../icons-sprites/sprites.png);
  background-position: -16px 0px;
  width: 16px;
  height: 16px;
}
.sprite-icons-bricks {
  background-image: url(../icons-sprites/sprites.png);
  background-position: 0px -16px;
  width: 16px;
  height: 16px;
}
.sprite-icons-house {
  background-image: url(../icons-sprites/sprites.png);
  background-position: -16px -16px;
  width: 16px;
  height: 16px;
}
.sprite-icons-information {
  background-image: url(../icons-sprites/sprites.png);
  background-position: -32px 0px;
  width: 16px;
  height: 16px;
}
.sprite-icons-star {
  background-image: url(../icons-sprites/sprites.png);
  background-position: -32px -16px;
  width: 16px;
  height: 16px;
}
