// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$sprite-icons-add-name: 'sprite-icons-add';
$sprite-icons-add-x: 0px;
$sprite-icons-add-y: 0px;
$sprite-icons-add-offset-x: 0px;
$sprite-icons-add-offset-y: 0px;
$sprite-icons-add-width: 16px;
$sprite-icons-add-height: 16px;
$sprite-icons-add-total-width: 48px;
$sprite-icons-add-total-height: 32px;
$sprite-icons-add-image: '../icons-sprites/sprites.png';
$sprite-icons-add: (0px, 0px, 0px, 0px, 16px, 16px, 48px, 32px, '../icons-sprites/sprites.png', 'sprite-icons-add', );
$sprite-icons-application-name: 'sprite-icons-application';
$sprite-icons-application-x: 16px;
$sprite-icons-application-y: 0px;
$sprite-icons-application-offset-x: -16px;
$sprite-icons-application-offset-y: 0px;
$sprite-icons-application-width: 16px;
$sprite-icons-application-height: 16px;
$sprite-icons-application-total-width: 48px;
$sprite-icons-application-total-height: 32px;
$sprite-icons-application-image: '../icons-sprites/sprites.png';
$sprite-icons-application: (16px, 0px, -16px, 0px, 16px, 16px, 48px, 32px, '../icons-sprites/sprites.png', 'sprite-icons-application', );
$sprite-icons-bricks-name: 'sprite-icons-bricks';
$sprite-icons-bricks-x: 0px;
$sprite-icons-bricks-y: 16px;
$sprite-icons-bricks-offset-x: 0px;
$sprite-icons-bricks-offset-y: -16px;
$sprite-icons-bricks-width: 16px;
$sprite-icons-bricks-height: 16px;
$sprite-icons-bricks-total-width: 48px;
$sprite-icons-bricks-total-height: 32px;
$sprite-icons-bricks-image: '../icons-sprites/sprites.png';
$sprite-icons-bricks: (0px, 16px, 0px, -16px, 16px, 16px, 48px, 32px, '../icons-sprites/sprites.png', 'sprite-icons-bricks', );
$sprite-icons-house-name: 'sprite-icons-house';
$sprite-icons-house-x: 16px;
$sprite-icons-house-y: 16px;
$sprite-icons-house-offset-x: -16px;
$sprite-icons-house-offset-y: -16px;
$sprite-icons-house-width: 16px;
$sprite-icons-house-height: 16px;
$sprite-icons-house-total-width: 48px;
$sprite-icons-house-total-height: 32px;
$sprite-icons-house-image: '../icons-sprites/sprites.png';
$sprite-icons-house: (16px, 16px, -16px, -16px, 16px, 16px, 48px, 32px, '../icons-sprites/sprites.png', 'sprite-icons-house', );
$sprite-icons-information-name: 'sprite-icons-information';
$sprite-icons-information-x: 32px;
$sprite-icons-information-y: 0px;
$sprite-icons-information-offset-x: -32px;
$sprite-icons-information-offset-y: 0px;
$sprite-icons-information-width: 16px;
$sprite-icons-information-height: 16px;
$sprite-icons-information-total-width: 48px;
$sprite-icons-information-total-height: 32px;
$sprite-icons-information-image: '../icons-sprites/sprites.png';
$sprite-icons-information: (32px, 0px, -32px, 0px, 16px, 16px, 48px, 32px, '../icons-sprites/sprites.png', 'sprite-icons-information', );
$sprite-icons-star-name: 'sprite-icons-star';
$sprite-icons-star-x: 32px;
$sprite-icons-star-y: 16px;
$sprite-icons-star-offset-x: -32px;
$sprite-icons-star-offset-y: -16px;
$sprite-icons-star-width: 16px;
$sprite-icons-star-height: 16px;
$sprite-icons-star-total-width: 48px;
$sprite-icons-star-total-height: 32px;
$sprite-icons-star-image: '../icons-sprites/sprites.png';
$sprite-icons-star: (32px, 16px, -32px, -16px, 16px, 16px, 48px, 32px, '../icons-sprites/sprites.png', 'sprite-icons-star', );
$spritesheet-width: 48px;
$spritesheet-height: 32px;
$spritesheet-image: '../icons-sprites/sprites.png';
$spritesheet-sprites: ($sprite-icons-add, $sprite-icons-application, $sprite-icons-bricks, $sprite-icons-house, $sprite-icons-information, $sprite-icons-star, );
$spritesheet: (48px, 32px, '../icons-sprites/sprites.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
