@import "utils";

/** bootstrap */
@import "bootstrap";
@import "fontawesome";
@import "bootstrap/mixins";
@import "bootstrap/alerts";
@import "bootstrap/buttons";
@import "bootstrap/dropdowns";
@import "bootstrap/forms";
@import "bootstrap/input-groups";
@import "bootstrap/labels";
@import "bootstrap/modals";
@import "bootstrap/navs";
@import "bootstrap/panels";
@import "bootstrap/popovers";
@import "bootstrap/progress-bars";
@import "bootstrap/tables";
@import "bootstrap/type";
@import "bootstrap/scaffolding";
@import "bootstrap/utilities";
@import "bootstrap/wells";

/** components */
@import "components/validation-error";

@import "../icons-sprites/sprites.scss";
@include sprites($spritesheet-sprites); /* generates sprite css classes */


$base-margin: 20px;

#header {
  background-color: $body-bg;
  margin-top: $base-margin / 2;
}

.list-group-item-text .btn-group {
  float: right;
  margin-top: -22px;
}