{% extends "base_anonymous.html" %}
{% load i18n static %}
{% block content %}
    <div class="container">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <input type="hidden" name="next" {% if next %}value="{{ next }}"{% endif %} />
            <div class="login-form">
                <h2 class="form-signin-heading">LOGIN</h2>
                <div class="login-form__body">
                    {% for error in form.non_field_errors %}
                        <label class="validation-error">{{ error }}</label>
                    {% endfor %}
                    {% if form.non_field_errors %}<br /><br />{% endif %}
                    <div class="form-group">
                      {% for error in form.username.errors %}
                          <label class="validation-error">{{ error }}</label>
                      {% endfor %}
                      <div class="input-group">
                          <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                          <label for="inputEmail" class="sr-only">Email address</label>
                          <input type="text"
                              name="username"
                              class="form-control {% if form.username.errors or form.non_field_errors %} error{% endif %}"
                              placeholder="Username"
                              required
                              autofocus
                          >
                      </div>
                    </div>
                    <div class="form-group">
                        {% for error in form.password.errors %}
                            <label class="validation-error">{{ error }}</label>
                        {% endfor %}
                      <div class="input-group">
                          <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                          <label for="inputPassword" class="sr-only">Password</label>
                          <input type="password"
                              name="password"
                              class="form-control {% if form.password.errors or form.non_field_errors %} error{% endif %}"
                              placeholder="Password"
                              required
                          >
                      </div>
                    </div>
                    <button class="btn btn-primary btn-lg" type="submit">
                        {% trans 'Login' %}
                    </button>
                    {% url 'password_reset' as auth_password_reset %}
                    {% if auth_password_reset %}
                        <p class="helper-link">
                            <a href="{{ auth_password_reset }}">
                                {% trans "Forgot your password?" %}
                            </a>
                        </p>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
    <!-- /container -->
    {% if form.non_field_errors or form.username.errors or form.password.errors %}
        <script type="text/javascript">
            /* TODO: error handling */
        </script>
    {% endif %}
{% endblock %}
