{% extends "registration/registration_base.html" %}
{% block title %}Reset password{% endblock %}
{% block bodyid %}id="password-information"{% endblock %}
{% block content %}
<div class="form-wrapper reset-form-wrapper">
<h1>Reset password</h1>
<div class="well">Forgot your password?  Enter your email in the form below and we'll send you
instructions for creating a new one.</div>
<form class="form-horizontal clearfix" method='post' action=''>{% csrf_token %}
    {% if form.non_field_errors %}
        <p class="error">
            {% for err in form.non_field_errors %}{{ err }}{% if not forloop.last %}<br/>{% endif %}
            {% endfor %}</p>
    {% endif %}
    <div class="col-md-6">
        <div class="form-group">
            <label for="id_email" class="col-sm-2 control-label">E-mail:</label>
            <div class="col-sm-10"><input id="id_email" type="text" name="email" maxlength="75" placeholder="email" class="form-control"></div>
        </div>
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2"><input type='submit' value="Reset" id="reset" class="btn btn-default" /></div>
        </div>
    </div>
    {{ form.errors.email }}

</form>
</div>
{% endblock %}
