{% extends "registration/registration_base.html" %}
{% block title %}Password reset{% endblock %}
{% block content %}
	<h2>We have sent you an email with a link to reset your password.</h2>
	<h3 class="message">Please check your email for details on how to proceed.</h3>
{% endblock %}
