{% extends "registration/registration_base.html" %}
{% load ui %}
{% block title %}Confirm password reset{% endblock %}
{% block bodyclass %}password-reset{% endblock %}

{% block content %}
<div class="form-wrapper reset-form-wrapper">
<h1>Enter your new password below to reset your password:</h1>
<form class="form-horizontal clearfix" method='post' action=''>{% csrf_token %}
    {% if form.non_field_errors %}
        <p class="error">
            {% for err in form.non_field_errors %}{{ err }}{% if not forloop.last %}<br/>{% endif %}
            {% endfor %}</p>
    {% endif %}
    <div class="col-md-8">
        {% for field in form %}
            <div class="form-group {% if form.errors.new_password1 %}has-error{% endif %}">
                <label for="{{ field.name }}" class="col-sm-4 control-label">{{ field.label }}</label>
                <div class="col-sm-8">
                    {{ field|addclass:"form-control" }}
                    {% if field.help_text %}
                        <span class="help-block">
                            {{ field.help_text|safe }}
                        </span>
                    {% endif %}
                    {% if field.errors %}
                        <label class="validation-error">
                            {% for err in field.errors %}{{ err }}{% if not forloop.last %}<br/>{% endif %}
                            {% endfor %}</label>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <div class="form-group">
            <div class="col-sm-8 col-sm-offset-4"><input type='submit' value="Set password" id="reset" class="btn btn-default" /></div>
        </div>
    </div>

</form>
</div>
{% endblock %}
