{% extends "registration/registration_base.html" %}
{% block title %}Password reset complete{% endblock %}
{% block content %}
<h3 class="message">Your password has been reset!</h3>You may now <a href="{{ login_url }}">log in</a>.
{% endblock %}
