{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Hello world{% endblock %}

{% block content %}
    <div id="root"></div>
{% endblock content %}

{% block bottom %}
    {{ block.super }}
    <script src="{% static "js/index.bundle.js" %}"></script>
{% endblock bottom %}
