<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <title>{% block title %}MySite{% endblock %} - Django app</title>
    <link rel="stylesheet" href="{% static "style/main.css" %}">
</head>
<body>
    <div class="ui container">
        <div id="app">
            {% block content %}{% endblock content %}
        </div>
        <div class="ui icon message">
            <i class="inbox icon"></i>
            <div class="content">
                <div class="header">
                    Have you heard about our mailing list?
                </div>
                <p>Get the best news in your e-mail every day.</p>
            </div>
        </div>
    </div>

    {% block bottom %}
        <script src="{% static "jsbridge.js" %}"></script>
        <script src="{% static "js/shared.js" %}"></script>
    {% endblock bottom %}
</body>
</html>
