
.validation-error {
    position: relative;
    padding-left: 15px;
    color: $state-danger-text;

    &:before {
        @extend .glyphicon;
        @extend .glyphicon-exclamation-circle;
        position: absolute;
        top: 3px;
        left: 0;
        margin-top: -1px;
        color: $brand-danger;
    }

    // Each error message is wrapped in span element
    &>span {
        display: block;
    }

}
